/* Regole inziali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #8ecae6;
}

/* Container */
.container {
    max-width: 900px;
    margin: 0px auto;
    padding: 5px;
}

/* Row */
.row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: orange;
    border: 1px dashed black;
}

/* Column */
.col {
    border: 1px dashed black;
}

/* Logo */
.logo {
    flex-grow: 1;
}

/* Link */
.link  {
    flex-grow: 2;
    text-align: center;
}

/* Login */
.login {
    flex-grow: 1;
}

/* Download */
.download {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color: #003f88;
}

/* Box con le info del download */
.download-box {
    width: 700px;
    height: 300px;
    background-color: #ff69eb;
    border: 2px dashed black;
}